:root {
  --theme-color: #757575;
  --secondary-color: #212121;
  --accent-color-primary: #2196f3;
  --accent-color-secondary: #188ce8;

  --footer-links-color: rgba(255, 255, 255, 0.6);

  --font-bg-color: #ffffff;

  --bg-color-primary: #e5e5e5;
  --bg-color-secondary: #f5f4fa;
  --bg-color-add: #2f303a;
}

/* remove bullets */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* remove link underline */
a {
  text-decoration: none;
}
/* image styles */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* visually-hidden */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* container */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* buttons style */
.button {
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  color: var(--font-bg-color);
  border: transparent;
  border-radius: 4px;
}

body {
  color: var(--theme-color);
  font-family: "Roboto", "Arial", sans-serif;
  background-color: var(--bg-color-primary);
}

/* page header */
.page-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: var(--theme-color);
  background-color: var(--font-bg-color);
  border-bottom: 1px solid #ececec;
}
/* main-nav page header */
.main-nav {
  display: flex;
}
/* navbar */
.navbar {
  display: flex;
  align-items: center;
}
/* logo styles in header and footer*/
.logo {
  margin-right: 93px;
  font-family: "Raleway", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: var(--accent-color-primary);
}
.logo-header {
  color: var(--secondary-color);
}
.logo-footer {
  color: var(--font-bg-color);
}

/* navbox and authnav in header*/
.navbox {
  display: flex;
}
.navbox.authnav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
}
.navbox .item:not(:last-child) {
  margin-right: 50px;
}
.nav-link,
.authnav-link {
  /* display: block; */
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-link {
  color: var(--secondary-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-link.current {
  color: var(--accent-color-primary);
}
/* header links list */
.authnav {
  display: flex;
  margin-left: auto;
}
.authnav .item:not(:last-child) {
  margin-right: 30px;
}
.authnav-link {
  display: flex;
  align-items: center;
  color: var(--theme-color);
}
.authnav-link:hover,
.authnav-link:focus {
  color: var(--accent-color-primary);
}
.icon-post {
  fill: currentColor;
  height: 16px;
  margin-right: 10px;
}

/* Studio page */

/* hero section */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  letter-spacing: 0.06em;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c4c4c4;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364em;
  text-transform: uppercase;
  color: var(--font-bg-color);
}
.hero .button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875em;
  align-items: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color-primary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.hero .button:hover,
.hero .button:focus {
  background-color: var(--accent-color-secondary);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
/* features section */
.features {
  margin-bottom: -94px;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  background-color: var(--bg-color-primary);
}
.features-list {
  display: flex;
}
.features-item {
  min-width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.thumb {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-secondary);
  border-radius: 4px;
}

.features-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.features-subtitle p {
  margin-top: 0;
  margin-bottom: 0;
}
/* activities section */
.activities-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.activities-list {
  display: flex;
}
.activities-item:not(:last-child) {
  margin-right: 30px;
}

/* team members section */
.members {
  font-size: 16px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--bg-color-secondary);
}
.members-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17em;
  color: var(--secondary-color);
}
.members-list {
  display: flex;
  flex-wrap: wrap;
}
.members-item {
  width: calc((100% - 90px) / 4);
  background-color: var(--font-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.members-item:not(:last-child) {
  margin-right: 30px;
}
.members-item h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19em;
  color: var(--secondary-color);
}
.members-item p {
  margin-top: 0;
  margin-bottom: 16px;
}
.members-item .desc {
  padding-top: 30px;
  padding-bottom: 30px;
}
.social-links {
  display: flex;
  justify-content: center;
  /* margin-left: 32px;
  margin-right: 32px; */
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.icon {
  display: inline-flex;
  width: 44px;
  height: 44px;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
}
.instagram {
  background-image: url(../images/instagram_2.svg);
}
.twitter {
  background-image: url(../images/twitter_1.svg);
}
.facebook {
  background-image: url(../images/facebook_1.svg);
}
.linkedin {
  background-image: url(../images/linkedin_1.svg);
}

.instagram:hover,
.instagram:focus {
  background-image: url(../images/instagram_2_hover.png);
}
/*
.icon-twitter:hover,
.icon-twitter:focus {
  background-image: url(../images/instagram_2_hover.png);
}
.icon-facebook:hover,
.icon-facebook:focus {
  background-image: url(../images/instagram_2_hover.png);
}
.icon-linkedin:hover,
.icon-linkedin:focus {
  background-image: url(../images/instagram_2_hover.png);
} */

/* clients section */
.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.clients-list {
  display: flex;
}
.logo-first,
.logo-second,
.logo-third,
.logo-fourth,
.logo-fifth,
.logo-sixth {
  display: block;
  width: 170px;
  height: 92px;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.client:not(:last-child) {
  margin-right: 30px;
}
.logo-first {
  background-image: url(../images/logo_1.svg);
}
.logo-second {
  background-image: url(../images/logo_2.svg);
}
.logo-third {
  background-image: url(../images/logo_3.svg);
}
.logo-fourth {
  background-image: url(../images/logo_4.svg);
}
.logo-fifth {
  background-image: url(../images/logo_5.svg);
}
.logo-sixth {
  background-image: url(../images/logo_6.svg);
}
.logo-first:hover,
.logo-first:focus {
  background-image: url(../images/instagram_2_hover.png);
}

/* Portfolio page */

/* projects section */
.projects .filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter .filter-btn:not(:last-child) {
  margin-right: 8px;
}
.filter .button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background-color: var(--bg-color-secondary);
  border: 0;
}
.filter .button:hover,
.filter .button:focus {
  color: var(--font-bg-color);
  background-color: var(--accent-color-primary);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12);
}
/* project list */
.project-list {
  display: flex;
  flex-wrap: wrap;
}
/* project item */
.project-item {
  width: calc((100% - 60px) / 3);
  background-color: var(--font-bg-color);
}
.project-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.project-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.project-item .item-desc {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
/* project item desc */
.item-desc h2 {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}
.item-desc p {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
  color: var(--theme-color);
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-add);
}
.logo-item {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
}
/* footer address */
.footer-address {
  margin-right: 70px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--font-bg-color);
}
.footer-address .address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address .link {
  color: var(--footer-links-color);
}
.footer-primery {
  display: flex;
}
.social-footer h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--font-bg-color);
}

.footer-links {
  display: flex;
}
.footer-links .icon {
  color: var(--font-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-links .icon:hover,
.footer-links .icon:focus {
  background-color: var(--accent-color-primary);
}
